#aboutwrapper h3 {
  font-size: 1.5rem;
}

.courses {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.courses img {
  height: 60px;
  width: 60px;
  margin-right: 40px;
}

.courses span {
  font-size: 1.25rem;
  white-space: nowrap;
}
