header {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

header h1 {
  white-space: nowrap;
  margin-top: 1em;
}
/* nav {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
 */
.hidden {
  height: 0px;
  display: none;
  transition: all 0.5s;
}

/* nav h1, nav ul {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 60px;
} */

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 20px;
  text-align: right;
  position: absolute;
  right: 0;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  border: 2px solid black;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

.bubble {
  position: absolute;
  z-index: -2;
  height: 5px;
  margin-top: 35px;
  background: linear-gradient(to right top, #f46b45, #eea849);
  transition: all 0.5s;
}

#wrapper {
  background: black;
  border-radius: 500px;
  width: 65px;
  height: 65px;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 20px;
}

.circle {
  height: 35px;
  width: 35px;
  position: relative;
}

.line {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 15%;
}

.middle {
  top: 45%;
}

.bottom {
  top: 75%;
}

.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}

.icon.close .middle,
.icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}
