.parallaxcontainer{
    max-width: 100vw;
    margin-top: 0;
    background: white;
    z-index: -1;
    width: 100vw;
}

.parallax{
    background: linear-gradient(to bottom, rgba(60,61,61,.5), rgba(60,61,61,.0)), url('/assets/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
