.card {
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.card span {
  font-size: 1.25rem;
  white-space: nowrap;
}

.ducati {
  height: 450px;
  width: 250px;
}

.smartfactory {
  height: 150px;
  width: 330px;
}
